*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color:rgb(102, 143, 178);
  color: white;
  font-family: "Poppins" sans-serif;
  min-height: 100vh;
}
header{
  font-size: 1.5rem;
}
header, form{
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}