* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(102, 143, 178);
  color: white;
  font-family: "Poppins" sans-serif;
  min-height: 100vh;
}
header {
  font-size: 1.5rem;
}
header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form input,
form button {
  padding: 0.5rem;
  padding-left: 1rem;
  font-size: 1.8rem;
  border: none;
  background: white;
  border-radius: 2rem;
}
form button {
  color: rgb(255, 200, 0);
  background: white;
  cursor: pointer;
  margin-left: .5rem;
  transition: all 0.3 ease;
}
form button:hover{
  color: white;
  background: rgb(255, 200, 0);
}
.fa-plus-circle{
  margin-top: 0.3rem;
  margin-left: -8px;
}
.todo-container{
  display: flex;
}